<h1>Hello, this a demo for the NG-Select UI Library</h1>
<!-- <ng-select [multiple]="true" [(ngModel)]="selectedCar">
  <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
</ng-select> -->
<ng-select [items] = "cars"
           [multiple]="true"
            bindValue="id"
            bindLabel="name"
            [loading]="isLoading"
            [virtualScroll]="true"
            (scrollToEnd)="endOfScrollHandler()"
            (open)="onNgSelectOpen()"
>
</ng-select>
<br>